body {
    background-color: #fffdd0;
}
.column, #divBlock {
    width: 20vw;
    height: 100%;
    border-radius: 15px;
    background-color: lightgrey;
    padding: 15px;
}
.column {
    position: relative;
    z-index: 3;
}
.card {
    height: 175px;
}
#app {
    display: flex;
    gap: 5em;
    padding-top: 10px;
    justify-content: center;
    margin: 0;
}
.poinsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.createTask {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
}
.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}
#divBlock {
    background-color: gray;
    opacity: 0.5;
    padding: 0 15px;
    position: absolute;
    inset: 0;
    z-index: 5;
}
#firstColumn .date-block,
#secondColumn .date-block {
    display: none;
}